.About {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    justify-content: center;
    gap: 2rem;

    &__text{
        width: 40vw;
    }

    &__image{
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
}