.Nav{
    margin: auto;
    width: 80vw;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;

    &__icon{
        font-weight: bold;
    }

    &__LinksContainer{
        display: flex;
        flex-direction: row;
        gap:2rem;
        padding: 1rem;

        &__Link{
            text-decoration: none;
            transition: all 0.5s ease-in-out;
            font-family: "Open Sans";
            opacity: 0.6;
            font-size: 16px;
            background-color: transparent;
            outline: none;
            border:0px;
            cursor: pointer;
            
            &:hover{
                opacity: 1;
            }
        }
    }
}