.Nav{
    margin: auto;
    width: 100vw;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;
    //backdrop-filter: blur(6px);
    background-color: white;
    z-index: 10;
    opacity: 0.90;

    &__icon{
        font-weight: bold;
    }

    &__LinksContainer{
        display: flex;
        flex-direction: row;
        gap:2rem;
        padding: 1rem;

        &__Link{
            text-decoration: none;
            color: black;
            transition: all 0.5s ease-in-out;
            font-family: "Open Sans";
            opacity: 0.6;
            font-size: 16px;
            background-color: transparent;
            outline: none;
            border:0px;
            cursor: pointer;
            
            &:hover{
                opacity: 1;
            }
        }
    }
}

.sticky{
    position: sticky;
    top:0;
}